img { 
    border-radius:5%;
}

.jumbotron {
    padding:7px; 
    padding-bottom:7px; 
    margin-top:7px; 
    margin-bottom:7px;
}

.navbar {
  margin-bottom: 20px;
  border-bottom: 4px solid var(--secondary);
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-fluid {
  max-width: 800px;
}

.container-header {
  max-width: 1400px;
}

.container-footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  padding-left:  20px;
  padding-right: 20px;
}

.well-collapse {
  padding-left:  20px;
  padding-right: 20px;
  padding-top:   12px;
  padding-bottom: 4px;
  border-radius:  7px;
  min-height:     1px;
  margin-top:    15px;
  color: black;
  background-color: var(--gray);
  border: 2px solid var(--gray-dark);
  blockquote {
    border-color: var(--gray-dark);
    border-color: rgba(0,0,0,.15);
  }
}

.embed-container {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 175px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 0px;
  break-inside: avoid;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  padding: .2em .5em;
  justify-self: start;
}

.container {
  column-count: 3;
  column-gap: 0px;
}

@media only screen and (max-width: 700px) {
  .container {
    column-count: 2;
  }
}

@media only screen and (max-width: 500px) {
  .container{
    column-count: 1;
  }
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column50 {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Styling for the code block */
pre {
    background-color: #282c34;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;;
    margin: 0;
}

$link-color: $blue
